/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #bdc3c7;
  }


.profil {
  margin: 50px;
  width: 300px;
  background-color: #31363b;
  color: #bdc3c7;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.obsah {
  padding: 10px 25px 10px 25px;
}

.jmeno {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}

.anotace {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.hlavicka {
  position: relative;
}

.foto {
  display: block;
  height: auto;
  width: 100%;
}

.logo {
  background-color: #b92e81;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  right: 25px;
}
 
.odkazy {
  position:relative;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  align-items: center;
  text-transform: uppercase;
}

.portfolio {
  width: 100%;
  border-top: 1px solid #3f464d;
  border-bottom: 1px solid #3f464d;  
}

.facebook {
  width: 50%;
  border-right: 1px solid #3f464d;
  }
  
.twitter {
  width: 50%;
  border-left: 1px solid #3f464d;
}

.odkazy a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
 }
  
.odkazy a:hover {
  background-color: #31363b;
}

.portfolio a:hover {
  background-color: #e74c3c;
}

.facebook a:hover {
  background-color: #3b5998;
}

.twitter a:hover {
  background-color: #1da1f2;
}